---
export const prerender = false
import Layout from '../../layouts/Layout.astro'

import LinkCategory from '../../components/LinkCategory.astro'

import Colors from '../../enums/colors'
import { GET, type Category } from '../api/categories'

let response = await GET(Astro)
const categories: Category[] = await response.json()
---

<Layout
  title='Categorias'
  description='Categorias'
  background='bg-gradient-to-r from-[#05303A] to-black-pearl'
  headerProps={{
    bgColor: 'bg-transparent',
    textColor: 'text-cotton-candy',
    showLogin: true,
    buttonsStyle: Colors.CottonCandy,
    routes: [{ route: '/', name: 'Inicio' }]
  }}
>
  <div class='grid items-center justify-center gap-y-28'>
    <!-- TITULO DE CATEGORIA -->
    <div class='flex justify-center'>
      <h1 class=`text-5xl font-semibold text-cotton-candy tracking-wide`>
        Categorías
      </h1>
    </div>
  </div>
  <div
    class='h-50 mt-15 flex max-w-[1800px] flex-wrap justify-center gap-4 p-10'
  >
    {
      categories.map(({ name, url }) => (
        <LinkCategory title={name} href={`/categorias/${url}`} />
      ))
    }
  </div>
</Layout>
