---
import PlayButton from '../components/icons/PlayButton.astro'

const { category, image, title, href, id } = Astro.props
---

<!-- IMAGEN -->
<img
  class='m-auto max-h-[13.5rem] scale-x-[0.995] scale-y-[0.99]'
  src={image}
/>
<!-- OVERLAY DE SELECCION -->
<div
  class=`title absolute hidden h-[13.5rem] w-[24rem] flex-wrap
        items-center justify-center bg-[#f967679f]`
>
  <!-- NOMBRE DEL CLIP/NOMINADO -->
  <h1
    class=`p-3 text-wrap break-all text-3xl font-semibold
          text-white`
  >
    {title}
  </h1>
</div>
<!-- LINK A CLIP/VIDEO -->
<a
  href={href}
  class='flex justify-end'
  target='_blank'
  rel='noopener noreferrer'
>
  <PlayButton />
</a>
