---
import Colors from '../enums/colors'
import Button from './Button.astro'

interface Props {
  title: string
  body: string
  href: string
}

const { href, title, body } = Astro.props
---

<div class='flex h-[450px] flex-col bg-cotton-candy p-5'>
  <div class='grow'><!-- TODO: Aquí irá la info de la categoría --></div>
  <div class='text-center'>
    <Button customClasses='mt-3' size='xs' color={Colors.BlackPearl}
      >Ver más</Button
    >
  </div>
</div>
