---
import Colors from '../enums/colors'
import Button from './Button.astro'

interface Props {
  title: string
  body: string
  href: string
}

const { href, title, body } = Astro.props
---

<div
  class='flex h-[450px] flex-col items-center justify-center bg-cotton-candy p-5'
>
  <div class='grow'></div>
  <Button customClasses='mt-3' size='xs' color={Colors.BlackPearl}
    >Ver más</Button
  >
</div>
