---
import Header, { type Props as HeaderProps } from '../components/Header.astro'
import Colors from '../enums/colors'

interface Props {
  title: string
  description: string
  background?: string
  headerProps: HeaderProps
}

const {
  title,
  description,
  background = 'bg-black-pearl',
  headerProps = {
    bgColor: 'bg-cotton-candy',
    textColor: 'text-black',
    showSocials: true,
    showLogin: true,
    buttonsStyle: Colors.BlackPearl
  }
} = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class=`h-screen ${background} text-black-pearl`>
    <Header {...headerProps} />
    <slot />
  </body>
</html>
