---
import Header from '../components/Header.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>

  <!-- Background gradient -->
  <body class='h-screen bg-gradient-to-r
    from-[#05303A] to-black-pearl'>
    <!-- Background image -->
    <div
      class="absolute h-screen w-screen
      bg-[url('../../assets/Prayge.svg')] bg-[_80%_80%] bg-bottom bg-no-repeat"
    >
      <Header />
      <slot />
    </div>
  </body>
</html>
